<wm-page data-ng-controller="ProcedurePagePageController" pagetitle="Procedure Page" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-button class="btn-default" caption="Button" type="button" margin="unset 0.5em" name="button1" on-click="Variables.Procedure_CreateEmptyBlock.invoke()"></wm-button>
            <wm-label padding="unset 0.5em" name="label1" caption="bind:Variables.Procedure_CreateEmptyBlock.dataSet"></wm-label>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>